<pre>
<script type="text/javascript">
var x = 23 ; 


function getargs(F) {
  var path,query,i;
  var arg = new Array() ;
  var url = document.URL ;
  var pq = new Array() ;
  var nv = new Array() ;
  pq = url.split('?') ;
  naked = pq[0] ;
  if (pq[1] == undefined) {
    document.writeln('no query') ;
  } else {
    arg = pq[1].split('&') ;
    for (i=0;i<arg.length;i++) {
      nv = arg[i].split('=') ;
      F[nv[0]] = nv[1] ;
    }
  }
  return naked;
}


var F = new Array() ;
var naked;
naked = getargs(F) ;
if (F['xvalue'] == undefined) {
  document.writeln('<a href="?xvalue='+x+'">'+x+'</a>') ;
} else if (F['xcmd'] == 'Set') {
  x = F['xvalue'] ;
  alert('Setting x to ' + x) ;
  document.location = naked ;
} else {
  x = F['xvalue'] ;
  document.writeln('<form>') ;
  document.write('<input type=text size=10 maxlength=80 name=xvalue value="'+x+'">') ;
  document.write('<input type=submit size=20 name=xcmd value=Set>') ;
  document.writeln('</form>') ;
}
document.writeln('<a href="'+naked+'">back</a>') ;
</script>
